:root[data-theme="ligth"] {

    --backg-body: #fff;

    --primer-backg: radial-gradient(circle farthest-corner at 15% 90%, #fec564, transparent 50%),
        radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
        radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
        radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
        radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
        radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
        radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
        linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);

    --backg-hover: linear-gradient(#fec66d, #f77638 30%, #e33f5f 50%, #bc318f 70%, #6559ca 100%),
        radial-gradient(circle farthest-corner at 15% 90%, #fec564, transparent 50%),
        radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
        radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
        radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
        radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
        radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
        radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%);

    --logo-color: hsl(354, 78%, 60%);

    --shadow: 0 .5rem 1rem rgba(0, 0, 0, .25);
    --wbody: 1024px;
    --width-body: 1024px;
    --height-top: 50px;
    --backg-add-bag: #ddd;
    --Op-faTrash: lightcoral;
    --color-text-general: #000;
    --color-text-secundario: #fff;
    --backg-info-product: hsl(0, 0%, 90%);
    --backg-faPlus: #777;
    --backg-color-header: #fff;
    --backg-all-product: rgba(0, 0, 0, 0.055);
}

:root[data-theme="dark"] {
    --body-color: -moz-linear-gradient(0deg, rgba(56, 97, 147, 1) 0%, rgba(0, 0, 0, 1) 65%);
    background: -webkit-linear-gradient(0deg, rgba(56, 97, 147, 1) 0%, rgba(0, 0, 0, 1) 65%);
    background: linear-gradient(0deg, rgba(56, 97, 147, 1) 0%, rgba(0, 0, 0, 1) 65%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#386193", endColorstr="#000000", GradientType=1);

    --backg-body: #fff;

    --primer-backg: radial-gradient(circle farthest-corner at 15% 90%, #bc318f, transparent 50%),
        radial-gradient(circle farthest-corner at 0 140%, #386193, transparent 50%),
        radial-gradient(ellipse farthest-corner at 0 -25%, #386193, transparent 50%),
        radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
        radial-gradient(ellipse farthest-corner at 100% 0, #386193, transparent 50%),
        radial-gradient(ellipse farthest-corner at 60% -20%, #386193, transparent 50%),
        radial-gradient(ellipse farthest-corner at 100% 100%, #386193, transparent),
        linear-gradient(#386193, #bc318f 30%, #e33f5f 50%, #bc318f 70%, #386193 100%);

    --backg-hover: linear-gradient(#fec66d, #f77638 30%, #e33f5f 50%, #bc318f 70%, #6559ca 100%),
        radial-gradient(circle farthest-corner at 15% 90%, #fec564, transparent 50%),
        radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
        radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
        radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
        radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
        radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
        radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%);

    --logo-color: hsl(354, 78%, 60%);

    --shadow: 0 .5rem 1rem rgba(0, 0, 0, .25);
    --wbody: 1024px;
    --width-body: 1024px;
    --height-top: 50px;
    --backg-add-bag: radial-gradient(circle farthest-corner at 0 140%, #386193, transparent 50%),
        radial-gradient(ellipse farthest-corner at 0 -25%, #386193, transparent 50%),
        radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
        linear-gradient(#386193, #bc318f 30%, #e33f5f 50%, #bc318f 70%, #386193 100%);
    --Op-faTrash: lightcoral;
    --color-text-general: #fff;
    --color-text-secundario: #000;
    --backg-info-product: #000;
    --backg-faPlus: radial-gradient(circle farthest-corner at 15% 90%, #bc318f, transparent 50%);
    --backg-color-product: linear-gradient(#386193, #5258cf 30%, #5258cf 50%, #5258cf 70%, #386193 100%);
    --backg-color-header: linear-gradient(#fec66d, #f77638 30%, #e33f5f 50%, #bc318f 70%, #6559ca 100%);
    --backg-all-product: rgba(80, 78, 78, 0.356);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-text-general);
}

html {
    scroll-behavior: smooth;
    padding: 0 2rem;
}

html::-webkit-scrollbar {
    width: 14px;
}

html::-webkit-scrollbar-track {
    border-radius: 20px;
    background: var(--primer-backg);
}

html::-webkit-scrollbar-thumb {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: transparent;
}

body {
    background: var(--body-color);
    max-width: var(--width-body);
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--color-text-general);
}

img {
    width: 100%;
    display: block;
}

header {
    background-color: var(--backg-color-header);
    height: var(--height-top);
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    z-index: 10;
}

/**********************************NABAR***********************/


.content__first-header {
    height: var(--height-top);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--width-body);
}



.logo-academlo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-academlo>* {
    cursor: pointer;
}

.logo-icon {
    width: 40px;
    fill: var(--logo-color);
}

.logo-academlo>a {
    letter-spacing: 1px;
    font-weight: bold;
}


.content-icons {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin: 1rem;
    font-size: 1.5rem;
}

.CambioIcoms {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
}

.btn-sun {
    display: none;
    border: none;
    background: none;
    margin: 0;
    font-size: 1.4rem;
    padding: 0;
    cursor: pointer;
}

.btn-moon {
    border: none;
    background: none;
    margin: 0;
    font-size: 1.4rem;
    padding: 0;
    cursor: pointer;
}



.content-icons>* {
    cursor: pointer;
}

/*************************NAVAR MY bag********************************/

.Mybags {
    background-color: var(--color-text-secundario);
    height: calc(100vh - var(--height-top));
    width: 400px;
    position: fixed;
    top: 50px;
    right: -1000px;
    padding: 1rem;

    display: flex;
    flex-direction: column;

    transition: right 1s;
}


.bag__products {
    height: 85%;
    width: 100%;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bag__products::-webkit-scrollbar {
    width: 0;
}

.bag__product {
    padding: 1rem;

    display: flex;
    align-items: center;

    border-radius: 1rem;
    box-shadow: var(--shadow);
}

.bag__product--img {
    width: 40%;
    background: var(--backg-body1);
    border-radius: 1rem;
}

.bag__product--body {
    width: 90%;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.bag__product--body-op {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.bag__product--body-op>.fa-trash {
    color: var(--Op-faTrash);
}

.bag__product--body-op>i {
    cursor: pointer;
}

.bag__total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 10%;
    width: 100%;

    padding: 1rem;
    gap: 0.5rem;
}

.bag__total--info {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.btn__buy {
    padding: 0.5rem;
    width: 100%;
    background: var(--primer-backg);
    color: var(--color-text-general);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    box-shadow: var(--shadow);
    border-radius: 0.3rem;
}

.btn__buy:hover {
    background: var(--backg-hover);
    color: var(--color-text-secundario);
}

.content-bag {
    position: relative;
}

.amountProducts {
    width: 14px;
    height: 14px;
    font-size: 0.7rem;
    color: var(--color-text-secundario);
    display: inline-block;
    border-radius: 0.9px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 10px;
    right: 4px;

}

/********************** NABVAR-MENU*************************************/

.menu {
    background-color: var(--color-text-secundario);
    height: calc(100vh - var(--height-top));
    width: 400px;
    position: fixed;
    top: 50px;
    right: -1000px;
    padding: 1rem;

    display: flex;
    flex-direction: column;

    transition: right 0.7s;


}

.nav__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1rem;
}


.bag__show {
    right: 0;
}

/*************************MAIN********************/


/*************************MAIN HOME NOTICIAS********************/

.content__home {
    margin: 0 auto;
}

.home {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content-img {
    width: 100%;
    display: flex;
    justify-content: end;
}

.newPorduct-img {
    display: flex;
    justify-content: end;
    align-items: center;
    min-height: 500px;
    width: 50%;

    background: var(--primer-backg);

}

.newPorduct-img>img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;

}

.newNews {
    display: flex;
    flex-direction: column;
}

.newNews>h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.newNews__description {
    color: var(--color-text-general);
    font-weight: 650;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.newNews__buy {
    color: hsl(354, 78%, 60%);
    font-size: 1.5rem;
    font-weight: bold;
}


.btn {
    display: flex;
    background: var(--primer-backg);
    color: var(--color-text-general);
    font-weight: bold;
    letter-spacing: 0.8px;
    padding: 1rem;
    margin-top: 1rem;
    place-self: baseline;
    border-radius: 0.1rem;
    transition: color 0.5s;
}

.btn:hover {
    color: var(--color-text-secundario);
    border-radius: 0.3rem;

    background: var(--backg-hover)
}

/******************************FILTROS**************************/

.filtros {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;
}

.content-filtros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 1em 2rem;
}

.filtro {
    text-align: center;
    border-radius: 0.2rem;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    height: 70px;
    width: 150px;
    padding: 0.5rem;
    background: var(--primer-backg);

    transition: color 0.5s;

}

.filtro>* {
    min-width: 100px;
    margin: 0.3rem 1rem;
}

/*****************HOVER FILTROS****************************/

.filtro:hover {
    background: var(--backg-hover);
    color: var(--color-text-secundario);
    border-radius: 0.5rem;
}


/*******************MAIN PRODUCTOS*****************************/
.products {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: var(--width-body);
    margin: 20px auto;
    gap: 1rem;
    background-color: var(--backg-all-product);
    border-radius: 1rem;
}

.product {
    border-radius: 1rem;
    box-shadow: var(--shadow);
    background: var(--backg-color-product);
    position: relative;

}

.product__img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1rem;
    background: var(--backg-add-bag);

}

.products__info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

}

.products__info>h4 {
    min-height: 54px;
}

.products__info span {
    font-weight: normal;
    font-size: 0.8rem;
}

.products__info .soldOut {
    display: inline-block;
    color: var(--color-text-secundario);
    background-color: lightcoral;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    user-select: none;
    width: 80px;
}

.content__plus {
    display: flex;
    background: var(--backg-faPlus);
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
    align-items: center;



    position: absolute;
    bottom: 92px;
    right: 10px;
}

.fa-plus {
    color: var(--color-text-general);
    font-size: 1.5rem;
}

#all-products {
    margin-bottom: 100px;
}

/************************FOOTER***************************/

footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 100%;
    gap: 2rem;
    z-index: 0;

    background: var(--primer-backg);
}

.content__footer {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content__footer * {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.social {
    height: 100%;
    display: flex;

}

.content__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.social>h2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: top 0;
    align-items: center;

}


.content__social>a {
    font-size: 1.5rem;
    margin: 0.5rem;
}

.fa-facebook-f {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    padding: 0.4rem;
}

.fa-facebook-f:hover {
    color: #fff;
    background-image: -webkit-linear-gradient(top, #8eafe2, #3578E5);
    width: 2rem;
    height: 2rem;
    padding: 0.4rem;
    border-radius: 50%;
}

.fa-twitter {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    padding: 0.4rem;
}

.fa-twitter:hover {
    color: rgb(29, 155, 240);
    background-color: #fff;
    width: 2rem;
    height: 2rem;
    padding: 0.4rem;
    border-radius: 50%;
}

.fa-instagram {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    padding: 0.4rem;

}

.fa-instagram:hover {

    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;

    background-clip: text;
    -webkit-text-fill-color: transparent;

    width: 2rem;
    height: 2rem;
    padding: 0.4rem;
    border-radius: 50%;
}

.YO {
    height: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    font-weight: bold;

    padding: 1rem;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.37);
    gap: 0.5rem;
}

.YO>a {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.YO>.mail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.YO>a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.oneline__y {
    display: none;
}

.twoline__y {
    display: none;
}

.oneline__x {
    height: 2px;
    bottom: 60px;
    min-width: 80px;
    background-color: #fff;
    position: absolute;

    animation-name: left;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes left {
    from {
        left: 10px;
    }

    to {
        left: 70%;
    }
}


.twoline__x {
    position: absolute;
    height: 2px;
    bottom: 30px;
    right: 0;
    min-width: 80px;
    background-color: #fff;
    position: absolute;

    animation-name: right;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes right {
    from {
        right: 10px;
    }

    to {
        right: 70%;
    }
}


@media (min-width: 850px) {

    .home {
        flex-direction: row;
        margin-bottom: 10rem;
        width: 100%;
    }

    .content-img {
        width: 50%;
        order: 1;
    }

    .newPorduct-img {
        min-height: 650px;
        width: 100%;
    }

    .newNews {
        display: flex;
        justify-content: center;
        order: 0;
    }

    .content__footer {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .content-filtros {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .oneline__y {
        display: flex;
        width: 2px;
        left: 420px;
        height: 70px;
        background-color: #fff;

        position: absolute;
        animation-name: top;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes top {
        from {
            top: 0;
        }

        to {
            top: 75%;
        }
    }

    .twoline__y {
        display: flex;
        position: absolute;
        width: 2px;
        right: 400px;
        height: 70px;
        background-color: #fff;
        position: absolute;

        animation-name: bottom;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes bottom {
        from {
            bottom: 0;

        }

        to {
            bottom: 75%;

        }
    }


    .oneline__x {
        height: 2px;
        bottom: 60px;
        width: 250px;
        background-color: #fff;
        position: absolute;

        animation-name: left;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes left {
        from {
            left: 5px;
        }

        to {
            left: 65%;
        }
    }


    .twoline__x {
        position: absolute;
        height: 2px;
        bottom: 30px;
        right: 0;
        width: 250px;
        background-color: #fff;
        position: absolute;

        animation-name: right;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes right {
        from {
            right: 5px;
        }

        to {
            right: 65%;
        }
    }

}